<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src='js/bundle.js'></script>
	<title>Breakout Game</title>
</head>
<body>
	<a href="/">Home</a>
	<h1>BREAKOUT</h1>
	<canvas id="breakout_canvas" width="400" height="500"></canvas>
	<div>
		<button id="start_game_btn">START</button>
		<button id="stop_game_btn">STOP</button>
		<button id="reset_game_btn">RESET</button>
	</div>
	<h2>Controls</h2>
	<div>Movement: Arrow Keys</div>
	<div>Rotation: Z and X</div>
	<h2>Objective</h2>
	<div>Get the ball to hit the top wall. You lose if the ball hits the bottom</div>
</body>
</html>