<!DOCTYPE html>
<html>
<head>
    <title>2D Collision Applications</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>
    <h1>2D Collision Applications</h1>
    <div class="app-card-container">
        <div class="app-card">
            <div class="app-card-title">
                <a href="/breakout">Breakout</a>
            </div>
            <div class="app-card-content">
                Classic 2D game.
            </div>
        </div>
    </div>
</body>
</html>